:root { scroll-behavior: smooth; }

.home-body{
    background: #cecdcf;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    margin: 0;
    
}

.Carrousel{
  max-width: 119rem;
  width: 80%;
  align-items: center;
  justify-content: center;
  margin-left: 15%;
}
.portada {
    width: 100%;
    margin-left: 0px;
    margin-top: 0px;
  }
  .desktop-image {
    position: relative;
    max-width: 100%;
  }
  
  .mobile-image {
    display: none;
  }
  .stt:hover {
    opacity: 0.8;
  }
  .stt:focus {
    opacity: 0.9;
  }
  .stt:active {
    opacity: 1;
  }
  
  @media only screen and (max-width: 700px) {
    :root { scroll-behavior: smooth; }


    .home-body{
      background: #cecdcf;
      align-items: center;
      justify-content: center;
      width: 100vw;
      height: 100%;
  }
    .portada {
      width: 100%;
      margin-left: -600px;
      margin-top: -120px;
    }
  
    .desktop-image {
      display: none;
    }
  
    .mobile-image {
      position:relative ;
      display: block;
      width: 200%;
      margin-left: 430px;
      object-fit: fill;
      overflow: hidden; 
      clip-path: inset(0 400px 0 0px); 
}

    }
  
  